body {
  font-family: 'Gentium', serif;
  text-align: justify;
}

.record-message {
    font-family: "Ubuntu mono", Menlo, Monaco, Consolas;
    font-size: 14px;
    color: red;
    background-color: #efefef;
    padding: 8px;
}

.wait-message {
    font-size: 12px;
    text-align: center;
    width: 100%;
}

.sucess {
    color: green;
}

.warn {
    color: blue;
}

h1, h2, h3, h4, h5, h6 {
    color: #1E392A;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
}

.shiny-input-container:not(.shiny-input-container-inline) {
    width: 100%;
}