<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div class="wrapper">
      <header class="subhead" id="topheader">
        <div class="container" id="head-infos">
          <h1>VIII Encontro dos Alunos
            <p>Pós-graduação em Estatística e Experimentação
              Agronômica</p>
          </h1>
          <p>
            21 a 23 de novembro, 2018<br>
            ESALQ-USP, Piracicaba, São Paulo
          </p>
        </div>
      </header>

      <header class="site-header">
        {{ partial "nav.html" . }}
      </header>
